@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,500&family=Montserrat:wght@400;700&family=Open+Sans:wght@400;600&family=Roboto:wght@300;400;700&display=swap');

:root {
    --main-color: #1E90FF;
    --second-color: #F4F4F4;
    --third-color: #FFD700;
    --accent: #0E4749;
    --header-font: "Lora", "Roboto", serif;
    --paragraph-font: "Montserrat", "Open Sans", sans-serif;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and Layout */
body {
    font-family: var(--header-font);
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: var(--accent);
    color: white;
}

.logo h1 {
    margin: 0;
    font-size: 24px;
}

.logo h1 a {
    color: white;
    text-decoration: none;
}
.logo h1 a span {
    color: var(--third-color);
}

/* Menu Items */
.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li {
    margin-left: 20px;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
}

.menu ul li a:hover {
    background-color: var(--second-color);
    color: var(--accent);
}

/* Search Input */
.search {
    display: flex;
    align-items: center;
}

.search input {
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
}

.search-btn {
    background-color: var(--third-color);
    border: none;
    padding: 8px;
    margin-left: 5px;
    cursor: pointer;
}

.search-btn:hover {
    background-color: var(--main-color);
}

/* Auth Buttons */
.auth button {
    padding: 8px 15px;
    margin-left: 15px;
    border: none;
    background-color: var(--main-color);
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    color: white;
}

.auth button:hover {
    background-color: var(--second-color);
    color: var(--accent);
}

/* Hamburger Icon */
.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

/* Mobile Menu - Hide by default */
@media screen and (max-width: 768px) {
    .menu ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 30px;
        background-color: #333;
        width: 200px;
        padding: 10px;
    }

    .menu ul li {
        margin: 15px 0;
    }

    .hamburger {
        display: block;
    }

    .auth {
        display: none;
    }

    .active {
        display: flex !important;
    }
}
