@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,500&family=Montserrat:wght@400;700&family=Open+Sans:wght@400;600&family=Roboto:wght@300;400;700&display=swap');

/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

:root {
    --main-color: #1E90FF;
    --second-color: #F4F4F4;
    --third-color: #FFD700;
    --accent: #0E4749;
    --header-font: "Lora", "Roboto", serif;
    --paragraph-font: "Montserrat", "Open Sans", sans-serif;
}

/* Mobile Menu - Hide by default */
@media screen and (max-width: 768px) {
    /* Navbar */
    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 30px;
        background-color: #333;
        width: 200px;
        padding: 10px;
    }

    .menu ul {
        flex-direction: column;
        align-items: center;
    }

    .menu li {
        margin: 10px 0;
    }

    .hamburger {
        display: block;
    }

    .menu.active {
        display: block;
        margin: auto 30px;
    }

    /* Local information and weather */
    .localInfo {
        display: block;
    }

    /* 
    .menu ul li {
        margin: 15px 0;
    }

    .hamburger {
        display: block;
    }

    .auth {
        display: none;
    }

    .active {
        display: flex !important;
    } */


    /* Weather information */
    .localWeatherForecast {
        display: block;
        text-align: center;
    }

    /* Adjust the display of each weather card */
    .weatherInfo1, .weatherInfo2, .weatherInfo3 {
        background-color: var(--main-color);
        padding: 13px;
        margin: 10px;
    }

    /* Here is the footer*/


}
